<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная - список курсов</title>
</head>
<body>
    <h1>Список курсов: </h1>
    <div>
        {% for category in categories %}
        <a href="{% url 'by_category' category.pk %}">{{ category.name }}</a>
        {% endfor %}
            <a href="{% url 'add' %}">Создать курс</a>
    </div>
    {% for course in courses %}
        <div>
            <h2>{{ course.title }}</h2>
            <p><a href="{% url 'by_category' course.category.pk %}"> {{ course.category }} </a></p>
            <p> {{ course.description }} </p>
            <p> {{ course.published|date:"d.m.Y H:i:s" }} </p>
        </div>
    {% endfor %}
</body>
</html>